*{
    padding: px;
    margin : 0px
}

button{
    background-color: aqua;
    border: 0;
    padding: 4px 12px;
    color: white;
    margin: 110px
    border-radius 5px;
}

p{
    color: black;
}

